{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block stylesheet %}
<style>
body {
  background-color: var(--background-color);
  font-family: 'Arial', sans-serif;
}

.card {
  background-color: var(--background-color);
  border-radius: 15px;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  box-shadow: var(--card-shadow-neumorphism);
  position: relative;
  text-align: center;
}

.card p {
  margin: 10px 0;
  color: var(--black-color);
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--black-color);
  background-color: var(--background-color);
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: var(--btn-shadow-neumorphism);
  transition: var(--transition-speed);
}

.btn-primary {
  color: var(--white-color);
  background-color: var(--red-color);
}

.btn:hover {
  box-shadow: var(--btn-shadow-inset-neumorphism);
}

.btn-primary:hover {
  background-color: var(--darkred-color);
}

#ImgProfile {
  max-width: 100%;
  border-radius: 50%;
}

a[target="_blank"] {
  color: var(--red-color);
  text-decoration: none;
}

a[target="_blank"]:hover {
  text-decoration: underline;
}



<style>
{% endblock %}

{% block body %}

{% if app.user is defined %}

{% for message in app.flashes('success') %}
  <div class="card">
    {{ message }}
  </div>
{% endfor %}
	<h1>Bienvenue sur votre compte, {{ app.user.pseudo }} !</h1>

	<div class="card">

	<p>Email : {{ app.user.email }}</p>

	{% if app.user.isVerified is defined %}
		<p>Votre adresse e-mail est vérifiée.</p>
	{% else %}
		<p>Votre adresse e-mail n'est pas vérifiée.</p>
	{% endif %}

{% if app.user.roles is defined %}
    <p>Rôles :
        {% for role in app.user.roles %}
            {% if role == 'ROLE_USER' %}
                Utilisateur
            {% elseif role == 'ROLE_ADMIN' %}
                Administrateur
            {% elseif role == 'ROLE_SECU' %}
                Agent de sécurité
            {% endif %}
            {% if not loop.last %}, {% endif %}
        {% endfor %}
    </p></br>
{% endif %}


	{% if app.user.Topic is defined %}
		<p>Nombre de sujets : {{ app.user.Topic|length }}</p>
		<a href="{{ path('mes_topics') }}" class="btn btn-primary">Voir mes Sujets</a>
	{% endif %}</br>

	{% if app.user.Post is defined %}
		<p>Nombre de publications : {{ app.user.Post|length }}</p>
		<a href="{{ path('mes_posts') }}" class="btn btn-primary">Voir mes Publications</a>
	{% endif %}</br>


	
{% if app.user and ('ROLE_ADMIN' in app.user.roles or 'ROLE_SECU' in app.user.roles) %}
    <a href="{{ path('admin') }}" class="btn btn-primary">Interface d'Administration</a></br>
    <a href="{{ path('list_alertes') }}" class="btn btn-primary">Voir la liste des Alertes</a>
{% endif %}</br>

    {% if app.user.imagesUsers and app.user.imagesUsers.imageName %}
        <img id="ImgProfile" src="{{ vich_uploader_asset(app.user.imagesUsers, 'imageFile') }}" alt="Image de profil"></br>
        <a href="{{ path('edit_profile_picture') }}" class="btn btn-primary">Modifier la photo de profil</a>
    {% else %}
        <p>Pas d'image de profil</p>
        <a href="{{ path('edit_profile_picture') }}" class="btn btn-primary">Ajouter une photo de profil</a>
    {% endif %}

  <a href="{{ path('user.edit', {'id': app.user.id}) }}" class="btn btn-primary">Modifier vos informations personnelles</a>
  <a href="{{ path('user.edit.password', {'id': app.user.id}) }}" class="btn btn-primary">Modifier le mot de passe</a>


		{{ form_start(deleteForm, {'attr': {'onsubmit': "return confirm('Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible.');"}}) }}
		{{ form_widget(deleteForm.submit, {'attr': {'class': 'btn btn-danger'}}) }}
		{{ form_end(deleteForm) }}
	</div>
{% else %}
	<p>L'utilisateur n'est pas connecté.</p>
{% endif %}




{% endblock %}
